.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.openModalButton {
  position: absolute;
  bottom: 40px;
  right: 40px;
}
