.modalWrapper {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;

}

.content {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 24px;
  border-radius: 6px;
  max-width: 80vw;
  width: fit-content;
  min-width: 60vw;
  max-height: 50vh;
  height: 100%;
}

.closeButton {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  background: inherit;
  border: none;
}

.menuTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
  color: rgb(104, 100, 100);
}